@import "../../vendor/filament/filament/resources/css/theme.css";

@config '../../tailwind.config.js';

:root {
    --primary-50: 240, 239, 255 !important;
    --primary-100: 225, 223, 255 !important;
    --primary-200: 196, 192, 255 !important;
    --primary-300: 168, 160, 255 !important;
    --primary-400: 140, 128, 255 !important;
    --primary-500: 112, 93, 255 !important;
    --primary-600: 84, 49, 255 !important;
    --primary-700: 59, 0, 223 !important;
    --primary-800: 40, 0, 160 !important;
    --primary-900: 22, 0, 102 !important;
    --primary-950: 13, 0, 72 !important;
}
